
<h2>Welcome  <%= @customer.name %></h2>
<h3>contact: <%= @customer.contact %></h3>
<br>
<h3>Total Available Rooms: <%= @total_room_count%></h3>
<h3>Normal Rooms: <%= @normal_room_count%></h3>
<h3>Luxury Rooms: <%= @luxury_room_count%></h3>

<%= form_for :booking, :url => '/book' do |f| %>
<%= f.label :check_in%><br>
  <%= f.date_field :check_in%><br>
  <%= f.label :check_out%><br>
  <%= f.date_field :check_out%><br>
  <%= f.label :'Number of Normal Rooms'%><br>
  <%= f.text_field :normal_rooms%><br>
  <%= f.label :'Number of Luxury Rooms'%><br>
  <%= f.text_field :luxury_rooms%><br>
  <%= f.submit "BOOK" %>
<%end%>


<!--   Start Date: <input type="date" name="bday">
  End Date: <input type="date" name="bday">
  <input type="submit"> -->