<h1>Login</h1>
<%= form_for :customer, url: '/login', method: 'post' do |f|%>
  <%= f.label :email%><br>
  <%= f.text_field :email%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit "Log In" %>
<%end%>