<h1>Sign Up</h1>
<%= form_for(:customer) do |f|%>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :contact%><br>
  <%= f.text_field :contact%><br>
  <%= f.label :gender%><br>
  <%= f.text_field :gender%><br>
  <%= f.label :email%><br>
  <%= f.text_field :email%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit "Sign Up" %>
<%end%>